{% extends 'base.html' %}

{% block content %}

<!-- Create raw html form -->

<form action='.' method='POST'> {% csrf_token %}
	{{ form.as_p }}
	<input type='submit' value='Save' />
</form>

<!-- Search form -->
<!-- <form action="http://www.google.com/search" method='GET'>
	<input type="text" name="q" placeholder="Search here">
	<input type='submit' value='Save' />
</form> -->

<!-- <form method='POST'> {% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Save' />
</form> -->

{% endblock %}
